body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f1f1f1;
}
/* ---- app styling ---- */
.App{
  position: relative;
  align-items: center;
  justify-content: center;
  height: 420px;
  width: 250px;
  padding: 10px 10px 10px 10px;
  border-radius: 15px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  margin: 3% auto;
  background-color: #949494;
  box-shadow: inset 10px 10px 50px #151313;
  
  -webkit-box-reflect: below 2px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(75%, transparent), to(rgba(199, 187, 187, 0.5)));
  /* -webkit-box-reflect: below 0 linear-gradient(transparent, white); */
}
/* ---- wheel styling ---- */
.container{
  position: relative;
  height: 200px;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
}

.outer-circle{
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: white;

  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 5px 20px black;
}
.menu-btn{
  position: absolute;
  top: 12px;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: black;
}
.play-pause-btn{
  position: absolute;
  bottom: 10px; 
  height: 30px;
  width: 30px;
}
.prev-btn{
  position: absolute;
  left: 10px;
  height: 30px;
  width: 30px;
}
.next-btn{
  position: absolute;
  right: 10px;
  height: 30px;
  width: 30px;
}
.inner-circle{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: grey;
}

.menu-btn, .play-pause-btn, .prev-btn, .next-btn:hover, .inner-circle{
  cursor: pointer;
}

/* ---- screen styling ---- */
.screen-container{
  height: 200px;
  width: 250px;
  /* border: 2px solid black; */
  /* margin: 0 auto; */
  margin-bottom: 5px;
  border-radius: 5px;
  background-image: url(https://i.pinimg.com/originals/6a/96/b2/6a96b2d2771c2c80139ef67545cccf6b.jpg);
  background-repeat: no-repeat;
  /* background-size: auto; */
  background-size: cover;
  background-position: center;
  box-shadow: 5px 5px 5px black;
}
#git{
  position: absolute;
  right: 10px;
  height: 30px;
  width: 30px;
  /* z-index: -1; */
}
.menu{
  height: 195px;
  width: 140px;
  border-radius: 5px;
  background-color: #b9b8b8;
}
.heading{
  padding: 5px;
  font-size: 30px;
  font-family: 'Lobster', cursive;
}
.menu-list{
  list-style: none;
  padding-left: 5px;
  padding-right: 7px;
}
.menu-list li{
  position: relative;
  padding: 5px 5px 5px 5px;
}
.menu-list li:hover{
  background-color: #2f70e1;
  cursor: pointer;
  color: #dedede;
  font-weight: bold;
}
.menu-list li::after{
  position: absolute;
  right: 2px;
  content: '>';
  font-size: large;
  color: #b9b8b8;
}
.select{
  background-color: #2f70e1;
  color: #dedede;
  font-weight: bold;
}
.unselect{
  /* background-color: white; */
  color: black;
}
